@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Carla Sans";
  src: url("/fonts/Carla_Sans_Regular.otf");
}

@font-face {
  font-family: "Times New Roman";
  src: url("/fonts/times.ttf");
}
