.Header {
  // Efecto de animacion de header/ falta adaptabilidad para versiones actuales de safari
  // animation: rellenado 2s linear both; /* Duración de 2 segundos, tipo linear, ambos rellenos */
  // animation-timeline: scroll(root);
  // animation-range: 0 120px;

  // @media (min-width: 1024px) {
  // animation-range: 0 200px;
  // }

  // @keyframes rellenado {
  //   to {
  //     /* Cambia el color de fondo al final de la animación */
  //     @apply bg-accent-700;
  //   }
  // }

  &__content {
    &__links {
      a:hover {
        @apply text-primary-100;
      }

      @media (max-width: 1023px) {
        position: absolute;
        z-index: 10;
        width: 100vw;
        left: 0;
        top: -380px;

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;

        @apply bg-accent-700 text-white
        font-subtitle py-6 px-4 text-base shadow-lg;

        &--active {
          display: flex;
          top: 100%;
          opacity: 1;
        }
      }
    }
  }
}
