---
import DescriptionSectionSecond from "./DescriptionSectionSecond.astro";
import DescriptionSectionFeatures from "./DescriptionSectionFeatures.astro";
import DescriptionSectionMain from "./DescriptionSectionMain.astro";
import SliderComponent from "@/components/sliders/SliderComponent.vue";
import { imgAmenidades } from "@/data/imgAmenidades.astro";
---

<section class="container flex flex-col items-center px-4 md:px-0 mb-10">
  <DescriptionSectionMain />
  <div class="md:max-w-6xl w-full mb-16">
    <SliderComponent client:visible imgPaths={imgAmenidades} />
  </div>
  <DescriptionSectionSecond />
  <DescriptionSectionFeatures />
</section>
