---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import piramid from "@/assets/imgs/piramid.png";
import iconLeaves from "@/assets/svgs/icon_leaves.svg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!-- Second part -->
<div
  class="information grid grid-cols-1 md:grid-cols-2 md:gap-y-0 md:gap-x-16 mb-12"
>
  <div class="flex justify-center md:col-span-2 md:justify-start mb-4">
    <Image
      class="information__iconLeaves max-w-20 md:max-w-32 lg:w-32"
      src={iconLeaves}
      alt="Icon Leaves"
    />
  </div>
  <div
    class="informationText flex flex-col items-center md:items-start text-base mb-6 md:max-w-[26rem] md:mt-4"
  >
    <p class="mb-4" set:html={t("descriptionSection.aboutSecond")} />
    <p class="mb-4" set:html={t("descriptionSection.aboutSecond2")} />
    <p set:html={t("descriptionSection.aboutSecond3")} />
  </div>
  <div class="flex justify-end">
    <Image
      class="information__piramid md:max-w-[380px] md:aspect-[380/288]"
      src={piramid}
      alt="Piramid Image"
    />
  </div>
</div>

<style></style>
