---
import iconLine from "@/assets/svgs/icon_line.svg";
import { Image } from "astro:assets";
import iconLeaves from "@/assets/svgs/icon_leaves_white.svg";
import iconConectivity from "@/assets/svgs/icon_conectivity.svg";
import iconDome from "@/assets/svgs/icon_dome.svg";
---

<section
  class="container promotion_section px-4 lg:px-11 xl:px-36 min-[1536px]:px-72"
>
  <div class="promotion_section text-accent-700 pt-12 text-xs md:text-xs">
    <div class="flex flex-col items-center">
      <Image
        class="promotion__iconLine max-w-20 md:max-w-32"
        src={iconLine}
        alt="Icon Line"
      />
    </div>
    <div>
      <h1
        class="font-title uppercase pt-12 md:px-24 mb-4 text-2xl text-center md:text-[2.5rem] md:pb-6"
      >
        What makes Cenote Gardens an enticing investment opportunity?
      </h1>
    </div>
    <div
      class="chance grid grid-cols-1 md:grid-cols-3 md:gap-y-0 md:gap-x-4 mb-12 px-4 md:px-8"
    >
      <div class="flex flex-col items-start pt-4 pb-4">
        <Image
          class="promotion__iconLeaves w-16 pb-4"
          src={iconLeaves}
          alt="Icon Leaves"
        />
        <h2
          class="font-subtitle uppercase pb-4 md:pb-4 lg:pb-4 xl:pb-10 text-lg md:text-base"
        >
          Vision of Sustainable Living
        </h2>
        <p>
          Our community is a testament to sustainable living that embraces <b
            >eco-conscious design</b
          > principles.<br /> We strive to <b
            >harmonize with the natural environment</b
          >, preserving its beauty for generations to come.
        </p>
      </div>
      <div class="flex flex-col items-start pt-4 pb-4">
        <Image
          class="promotion__iconConectivity w-16 pb-4"
          src={iconConectivity}
          alt="Icon Conectivity"
        />
        <h2 class="font-subtitle uppercase pb-4 text-lg md:text-base">
          Essential Services and Connectivity
        </h2>
        <p>
          All lots are equipped with reliable electricity, water, and high-speed
          fiber-optic internet connectivity, ensuring your <b
            >comfort and connectivity in the heart of nature.</b
          >
        </p>
      </div>
      <div class="flex flex-col items-start pt-4 pb-4">
        <Image
          class="promotion__iconDome w-16 pb-4"
          src={iconDome}
          alt="Icon Dome"
        />
        <h2 class="font-subtitle uppercase pb-4 text-lg md:text-base">
          Private Cenote and Luxurious Amenities
        </h2>
        <p>
          Cenote Gardens' Palapa Club offers <b>state-of-the-art amenities</b>,
          including a cozy fire pit and a traditional temazcal for a
          rejuvenating experience.
        </p>
      </div>
    </div>
  </div>
</section>
