---
// Importa la función getLangFromUrl para determinar el idioma
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<div id="hubspot-form-container">
  <!-- Aquí irá el formulario de HubSpot una vez que se cargue -->
</div>
