.MapPlanoCenote {
  position: relative;
  &__modal {
    position: absolute; /* Permite posicionar de forma absoluta */
    top: 45%; /* Coloca el elemento en la mitad vertical del contenedor */
    left: 50%; /* Coloca el elemento en la mitad horizontal del contenedor */
    transform: translate(-50%, -50%);

    h5 {
      text-transform: uppercase;
    }
  }
}
