---
import Layout from "@/layouts/Layout.astro";
import BannerMain from "@/components/banners/BannerMain.astro";
import DescriptionSecction from "@/components/sections/DescriptionSection/DescriptionSection.astro";
import BannerParallax from "@/components/banners/BannerParallax.astro";
import PromotionSection from "@/components/sections/DescriptionSection/PromotionSection.astro";
import AmenitiesSection from "@/components/sections/DescriptionSection/AmenitiesSection.astro";
import SliderComponent from "@/components/sliders/SliderComponent.vue";
//importar imagenes del slider de amenidades
import imgAmenidades from "@/data/imgAmenidades";
import MapPointsInterestMobile from "@/components/maps/MapPointsInterestMobile";
import MapPointsInterestDesk from "@/components/maps/MapPointsInterestDesk";
import MapPlanoCenote from "@/components/maps/MapPlanoCenote";
import LocationSection from "@/components/sections/LocationSection.astro";
import AvailabilitySection from "@/components/sections/AvailabilitySection.astro";
import InvestSection from "@/components/sections/InvestSection.astro";
import ContactForm from "@/components/form/ContactForm.astro";
import FooterSection from "@/layouts/FooterSection.astro";
---

<Layout title="Cenote gardens">
  <BannerMain />
  <DescriptionSecction />
  <BannerParallax />
  <PromotionSection />
  <AmenitiesSection />
  <section class="md:max-w-6xl">
    <SliderComponent client:load imgPaths={imgAmenidades} />
  </section>
  <LocationSection />
  <MapPointsInterestDesk client:visible />
  <MapPointsInterestMobile client:visible />
  <AvailabilitySection />
  <MapPlanoCenote client:load url={Astro.url} />
  <InvestSection />
  <ContactForm />
  <FooterSection />
</Layout>
