---
import { Image } from "astro:assets";
import peopleImage from "@/assets/imgs/peopePlaying.png";
import waterfallImage from "@/assets/imgs/waterfall.png";
---

<section
  class="container availability_section px-4 lg:px-11 xl:px-36 min-[1536px]:px-72 pb-0"
>
  <div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 md:gap-y-0 md:gap-x-16 mb-12 px-4 md:px-2 pt-12 text-sm md:text-base lg:text-base relative"
    >
      <div
        class="md:pt-4 flex flex-col items-start md:col-span-2 order-1 md:mr-12"
      >
        <h1 class="font-title uppercase text-xl md:text-5xl md:mb-12">
          Availability
        </h1>
        <p>
          Cenote Gardens is the perfect canvas for your dream home. Every lot
          offers ample space, ranging from <b>250 sq m to 600 sq m</b>,
          providing you with the flexibility to design and create your ideal
          living environment. Choose it as your gateway to a <b
            >lifestyle of tranquility, luxury, and investment potential.</b
          >
        </p>
      </div>
      <div class="order-3 md:col-span-2">
        <Image
          class="location__peopleImage pt-8 w-[200px]"
          src={peopleImage}
          alt="people Image"
        />
        <div class="pt-8 md:max-w-[550px] md:text-2xl">
          <p>
            Explore the available lots today and start envisioning your future
            in this idyllic enclave in the heart of Tulum's jungle.
          </p>
        </div>
      </div>
      <div class="col-span-1 order-2 md:row-span-2">
        <Image
          class="location__waterfallImage pt-4 md:absolute md:w-[300px] mb-10 md:left-[65%]"
          src={waterfallImage}
          alt="waterfall Image"
        />
        <div
          class="pt-4 border-2 border-accent-700 text-accent-700 bg-accent-100 bg-opacity-50 p-4 md:absolute md:top-[60%] md:max-w-xl md:m-auto md:left-[20%]"
        >
          <p>
            Whether you envision a <b
              >cozy retreat nestled in the jungle, a luxurious vacation rental
              property, or simply a tangible opportunity for growth</b
            >, the spacious lots in Cenote Gardens offer endless possibilities.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
