---
import { Image } from "astro:assets";
import peopleImage from "@/assets/imgs/peopePlaying.webp";
import waterfallImage from "@/assets/imgs/waterfall.webp";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="availability"
  class="container availability_section px-4 lg:px-11 xl:px-36 min-[1536px]:px-72 pb-16"
>
  <div>
    <div
      class="grid grid-cols-1 md:grid-cols-3 md:gap-y-0 md:gap-x-16 mb-12 px-0 md:px-2 pt-12 text-sm md:text-base lg:text-base relative"
    >
      <div
        class="md:pt-4 flex flex-col items-start md:col-span-2 order-1 md:mr-12"
      >
        <h2
          class="w-full font-title text-grey-950 uppercase text-3xl md:text-4xl md:text-[2.5rem] mb-4 md:mb-12"
        >
          {t("availabilitySection.title")}
        </h2>
        <p set:html={t("availabilitySection.desc")} />
      </div>
      <div class="order-3 md:col-span-2 flex flex-col items-center md:block">
        <Image
          class="location__peopleImage pt-8 w-3/4 md:w-[200px]"
          src={peopleImage}
          alt="people Image"
        />
        <div class="pt-8 md:max-w-[550px] md:text-xl text-center">
          <p set:html={t("availabilitySection.desc2")} />
        </div>
      </div>
      <div
        class="flex flex-col items-center md:block
      col-span-1 order-2 md:row-span-2"
      >
        <Image
          class="location__waterfallImage pt-4 lg:absolute w-full md:w-[300px] mb-10 md:left-[65%]"
          src={waterfallImage}
          alt="waterfall Image"
        />
        <div
          class="pt-4 border-2 border-accent-700 text-accent-700 bg-[#FFF9E1] bg-opacity-80 p-4 md:absolute md:top-[60%] md:max-w-xl md:m-auto md:left-[20%] md:px-8"
        >
          <p set:html={t("availabilitySection.desc3")} />
        </div>
      </div>
    </div>
  </div>
</section>
