---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  header={false}
  title="Cenote Gardens | 404"
  description="Oops, it looks like you're lost. The page you were looking for isn't here. Head back to the homepage to find what you need."
>
  <section class="page404 bg-accent-50 w-full flex justify-center items-center">
    <div class="text-center">
      <h1 class="text-4xl font-title font-bold text-grey-950 mb-6">
        404 - Page Not Found
      </h1>
      <p class="text-lg text-grey-800 mb-2">
        Sorry, the page you are looking for could not be found.
      </p>
      <a href="/" class="text-accent-800 hover:underline"
        >Return to the homepage</a
      >
    </div>
  </section>
</Layout>

<style>
  .page404 {
    height: 100vh;
  }
</style>
