---
import Layout from "@/layouts/Layout.astro";
import BannerMain from "@/components/banners/BannerMain.astro";
import DescriptionSecction from "@/components/sections/DescriptionSection/DescriptionSection.astro";
---

<Layout title="Cenote gardens">
  <BannerMain />
  <!-- <DescriptionSecction /> -->
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque blanditiis
    necessitatibus error praesentium, mollitia rerum harum a nulla quasi
    aliquam, doloribus perferendis omnis quia, exercitationem quod hic? Ea,
    fugit itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
    deserunt maiores temporibus soluta voluptatem voluptate quis molestias
    perferendis neque ipsa. Id, temporibus cum expedita vero impedit maiores
    accusamus? Facere, optio. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Aspernatur quae excepturi aliquam omnis saepe at vitae eum veritatis
    cumque eaque. Enim ut, dolorum omnis quisquam eaque neque laborum.
    Consequatur, repellendus.
  </p>
</Layout>

<style></style>
