---
import { Image } from "astro:assets";
import logoHeader from "@/assets/svgs/logo_header.svg";
import bgBanner from "@/assets/imgs/bannerMain/bgBanner.webp";
---

<section
  class="w-full relative h-[32rem] lg:h-[36rem] bg-cover bg-center banner-section overflow-hidden"
>
  <Image
    src={bgBanner}
    widths={[300, 1040, 1440, 1770, 2048]}
    sizes="100vw"
    loading="eager"
    alt="bg"
    class="absolute top-0 size-full object-cover"
    fetchpriority="high"
    decoding="auto"
  />

  <div class="absolute top-0 left-0 w-full h-full bg-neutral-800 bg-opacity-50">
  </div>

  <div
    class="flex h-full px-4 md:px-0 justify-center items-center banner-content"
  >
    <Image
      class="z-10"
      id="logoImage"
      src={logoHeader}
      alt="Logo Cenotes"
      fetchpriority="high"
      loading="eager"
    />
  </div>
</section>

<script>
  const logoImage = document.getElementById("logoImage");

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;
    if (currentScroll > 20) {
      // Scroll hacia abajo
      logoImage.style.opacity = "0";
    } else {
      // Scroll hacia arriba
      logoImage.style.opacity = "1";
    }
  });
</script>

<style>
  #logoImage {
    transition: opacity 0.3s ease-in-out;
  }
</style>
