---
import parallaxBg from "@/assets/imgs/parallaxBg.jpg";
import { getImage } from "astro:assets";

const optimizedBackground = await getImage({
  src: parallaxBg,
  format: "jpg",
});
---

<section
  class="w-full h-96 bg-slate-700 paralax"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <div class="container flex m-auto h-full items-center px-4">
    <h2 class="font-sans font-normal text-2xl text-center leading-8 text-white">
      Cenote Gardens is committed to offering an extraordinary place to live
      while preserving mother nature.
    </h2>
  </div>
</section>

<style>
  .paralax {
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
