---
import { Image } from "astro:assets";
import logoHeader from "@/assets/svgs/logo_header.svg";
import imgBannerMain from "@/assets/imgs/bgBannerMain.webp";
import imgBannerMobile from "@/assets/imgs/bgBannerMobile.webp";
---

<section
  class="w-full relative h-[32rem] lg:h-[36rem] bg-cover bg-center banner-section overflow-hidden"
>
  <picture>
    <source srcset={imgBannerMobile.src} media="(max-width: 400px)" />
    <source srcset={imgBannerMain.src} media="(min-width: 401px)" />
    <Image
      src={imgBannerMobile}
      alt="bg"
      loading="eager"
      class="absolute top-0 size-full object-cover"
    />
  </picture>
  <div
    class="flex h-full px-4 md:px-0 justify-center items-center banner-content"
  >
    <Image
      class="z-10"
      id="logoImage"
      src={logoHeader}
      alt="Logo Cenotes"
      loading="eager"
    />
  </div>
</section>

<script>
  const logoImage = document.getElementById("logoImage");

  window.addEventListener("scroll", () => {
    const currentScroll = window.scrollY;

    if (currentScroll > 20) {
      // Scroll hacia abajo
      logoImage.style.opacity = "0";
    } else {
      // Scroll hacia arriba
      logoImage.style.opacity = "1";
    }
  });
</script>

<style>
  #logoImage {
    transition: opacity 0.3s ease-in-out;
  }
</style>
