---
import { Image, getImage } from "astro:assets";
import logoHeader from "@/assets/svgs/logo_header.svg";
import imgBannerMain from "@/assets/imgs/bgBannerMain.jpg";

const optimizedBackground = await getImage({
  src: imgBannerMain,
  format: "jpg",
});
---

<section
  class="w-full relative
    h-[26rem] md:h-[32rem] lg:h-[36rem]
    flex justify-center
    bg-cover bg-center"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <Image src={logoHeader} alt="Logo Cenotes" />
</section>

<style></style>
