---
import { ViewTransitions } from "astro:transitions";
import Header from "./Header";
import { getLangFromUrl } from "@/i18n/utils";
import GlobalStyles from "@/styles/GlobalStyles.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
      data-href-light="/favicon.svg"
      data-href-dark="/favicon-dark.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T7CT6P52");
    </script>
    <!-- End Google Tag Manager -->

    <ViewTransitions />
  </head>
  <body class="">
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T7CT6P52"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >

    <Header client:load url={Astro.url} />

    <main class="flex flex-col items-center">
      <slot />
    </main>
    <GlobalStyles />
    <script src="./viewTransitionsConfig.js"></script>
    <script src="./favicon.js"></script>
  </body>
</html>
