.hsForm_20ea62af-851f-404d-85f2-3c54d4e8dcb0 {
  @apply px-4 sm:px-0 mb-6;

  .form-columns-2 {
    @apply grid grid-cols-1 md:grid-cols-2 gap-2;
  }

  .input {
    margin: 0 0 1rem !important;
  }

  .hs-form-field {
    width: 100% !important;
  }

  label {
    @apply flex font-sans text-lg font-semibold mb-2;
  }

  input,
  select {
    border: 1px solid white;
    width: 100% !important;
    @apply bg-accent-700 text-white h-14 p-2;
  }

  input[type="submit"] {
    cursor: pointer;
    width: auto !important;
    padding: 0 2rem;
    @apply bg-primary-50 text-accent-700 hover:bg-primary-100 font-semibold;
  }

  
}
